/* init */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Futura';
  box-sizing: border-box;
}

body {
  text-transform: uppercase;
}

a,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

li:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  border-radius: 50%;
}

button, input {
	outline: none;
	display: block;
	overflow: visible;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.20);
}
/* start */

/* .shareable setting */
.circle-sm {
  width: .75rem;
  height: .75rem;
  border: 1px solid #003164;
  border-radius: 50%;
}

.circle-lg {
  width: 3rem;
  height: 3rem;
  border: 2px solid #003164;
  border-radius: 50%;
}

.circle-mid {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #003164;
  border-radius: 50%;
}

.material-icons {
  cursor: pointer;
}

.home {
  display: grid;
  grid-template-columns: 65% 35%;
  height: 100vh;
}

.main-panel {
  display: grid;
  grid-template-rows: 20vh 40vh 20vh;
  padding: 3rem 5rem;
  background-color: #FFEDF7;
}


.main-panel .add-task {
  position: relative;
  width: 50%;
}

.add-task input {
  width: 100%;
  height: 3.5rem;
  padding: 0 20% 0 1rem;
  color: #FF4384;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  border: none;
  text-transform: uppercase;
}

.add-task input::placeholder {
  color: #FF4384;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.add-task input ~ button {
  position: absolute;
  top: 7px;
  right: 5%;
  border: none;
  background-color: transparent;
  color: #FF4384;
  font-size: 2rem;
}

.activity-task {
  display: grid;
  grid-template-areas: "main-decoration header header"
              "main-decoration sub-decoration none"
              "main main main";
  grid-template-rows: 1.5rem 1.5rem 25vh;
  grid-template-columns: 3rem .75rem auto;
  grid-column-gap: .75rem;
  grid-row-gap: .5rem;
  width: 65%;
}

.activity-task .main-decoration {
  grid-area: main-decoration;
}

.activity-task .sub-decoration {
  grid-area: sub-decoration;
  border: 1px solid #FF4384;
}

.activity-task h3 {
  grid-area: header;
  position: relative;
  color: #003164;
  font-size: 1.5rem;
}

.activity-task div {
  grid-area: main;
  text-align: center;
  color: #FF4384;
  font-size: 25vh;
  font-weight: 800;
}

.tasks-group-home {
  width: 60%;
}

.tasks-group-todos {
  width: 100%;
}

.tasks-group-home ul li,
.tasks-group-home i {
  color: #003164;
}

.tasks-group-home ul li {
  border-bottom: 2px solid rgba(0,49,100,.2);
}

.tasks-group-todos ul li,
.tasks-group-todos i {
  color: white;
}

.tasks-group-todos ul li {
  border-bottom: 2px solid rgba(255,255,255,.2);
}

.tasks-group ul li {
  display: grid;
  grid-template-columns: 1rem auto 2rem;
  grid-gap: 1rem;
  padding: .5rem 0;
  font-weight: bold;
}

.tasks-group-home li:before {
  border: 2px solid #003164;
}

.tasks-group-todos li:before {
  border: 2px solid white;
}

.tasks-group a {
  color: #FF4384;
  display: flex;
  justify-content: flex-end;
  margin-top: .5rem;
}

.sub-panel {
  background-color: #003164;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 3rem 0;
}

.sub-panel li i,
.todos aside i {
  color: white;
  font-size: 2rem;
}

.sub-panel li i,{
  font-size: 2rem;
}

.todos aside i {
  font-size: 4rem;
}

.sub-panel .logo {
  width: 100%;
}

.sub-panel .logo div,
.todos .logo div {
  color: white;
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
  transform: rotate(90deg);
  transform-origin: right top;
}

.sub-panel nav,
.sub-panel div {
  width: 80%;
}

.sub-panel nav ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.sub-panel nav ul li {
  margin-bottom: 3rem;
}

.clock-wrapper {
  position: absolute;
  left: calc(65% - 225px);
  top: calc(50vh - 225px);
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 4px solid #FF4384;
  background-color: transparent;
}

.clock-main {
  position: absolute;
  top: 10PX;
  left: 10px;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  border: 4px solid #FF4384;
  background-color: #FF4384;
}

.clock-btn {
  position: relative;
  width: 6rem;
  height: 6rem;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  text-align: center;
  background-color: white;
  border-radius: 50%;
}

.clock-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  font-size: 4rem;
  color: #FF4384;
  cursor: pointer;
}

.clock-decoration {
  position: absolute;
  content: "";
  right: -1.5rem;
  bottom: 0;
  width: .75rem;
  height: .75rem;
  background-color: white;
}

@media screen and (max-width: 1200px) {
  .activity-task div {
    font-size: 14vw;
    font-weight: 600;
  }

  .clock {
    left: calc(65% - 105px);
    top: calc(50vh - 105px);
    width: 210px;
    height: 210px;
  }

  .clock::before {
    top: -13PX;
    left: -13px;
    width: 230px;
    height: 230px;
    border: 3px solid #FF4384;
  }



}

@media screen and (max-width: 800px) {
  .home {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
  }

  .main-panel {
    grid-template-rows: 15vh 50vh 25vh;
  }

  .add-task {
    width: 80%
  }

  .tasks-group {
    width: 100%;
  }

  .activity-task div {
    font-weight: 600;
    margin: 2rem;
  }


  .sub-panel {
    display: none;
  }

  .clock {
    top: 55%;
    width: 60px;
    height: 60px;
  }

  .clock-btn {
    width: 3rem;
    height: 3rem;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
  }

  .clock::before {
    display: none;
  }

  .clock-btn::after  {
    display: none;
  }

  .clock-btn i {
    height: 3rem;
    font-size: 3rem;
  }

}

.main-theme {
  background-color: white;
}

.main-theme-font {
  color: white;
}

.sub-theme {
  background-color: #FF4384;
}

/* todos page */
.todos {
  display: grid;
  grid-template-columns: 1fr 35% 0.5fr;
  width: 100%;
  height: 100vh;
  padding: 3rem 6.25%;
  background: #003164;
}

.todos nav ul {
  display: grid;
  grid-gap: 2.6rem;
}

.todos nav a,
.todos nav i {
  font-size: 2.25rem;
  color: rgba(255, 255, 255, 0.20);
}

.todos nav a {
  font-weight: bold;
}


.todos nav i {
  margin-right: 1rem;
}

.todos nav a:hover,
.todos nav a:hover i {
  color: #FF4384;
}

.todos > section:nth-of-type(1) {
  height: 100%;

}

.todos > section:nth-of-type(2) {
  display: grid;
  grid-template-rows: 10% 1fr 1fr;
  grid-gap: 3rem;
  overflow: hidden;
}

.todos h2,
.todos h2 i {
  color: white;
}

.todos h2 {
  position: relative;
  padding: .5rem 1rem;
  margin-bottom: 1.25rem;
  background: rgba(255, 255, 255, 0.20);
}

.todos h2 i {
  position: absolute;
  top: 0;
  right: 1rem;
  padding: .5rem 1rem;
}

.todos .add-task {
  position: relative;
  width: 100%;
}

.todos .todo-list ul,
.todos .done-list ul {
  height: 28vh;
  padding-right: .5rem;
  overflow-y: scroll;
}

.todos aside {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.clockSm-main {
    position: absolute;
    bottom: 0;
    width: 350px;
    height: 175px;
    background: #FFEDF7;
    border-top-left-radius: 175px;
    border-top-right-radius: 175px;
}

.clockSm-btn {
  position: absolute;
  background: #003164;
  border-radius: 50%;
  width: 116px;
  height: 116px;
  left: calc(50% - 58px);
  top: -58px;
}

.clockSm-btn-inner {
  position: relative;
  background: #FF4384;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  margin: 0 auto;
}

.clockSm-btn:before {
  content: '';
  position: absolute;
  background: #003164;
  border: 2px #FF4384 solid;
  border-radius: 50%;
  height: 105px;
  width: 105px;
  margin: 0 auto;
  left: calc(50% - 55px);
  top: calc(50% - 64px);
}

.clockSm-btn-inner i {
  color: #FFEDF7;
}

.clockSm-main .content {
  position: relative;
  top: 35%;
  text-align: center;
  color: #FF4384;
}

.clockSm-main h1 {
  font-size: 4rem;
}

.clockSm-main p {
  color:  #003164;
  font-weight: bold;
  font-size: 1rem;
}



